<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>知乎日报-精简</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="header">
    <a href="/home" title="知乎日报">
        <img src="/static/img/zhihu_logo.png" class="main-wrap">
    </a>
</div>
<div id ="content">
    <div class="grid">
        {% for story in stories %}
            <div class="grid-item">
                <div class="card-main">
                    <div class="card-hd">
                        <a href="/story/{{ story.id }}">
                            <img src="imgurl/url={{ story.images.0|safe }}" class="story-image">
                        </a>
                    </div>
                    <div class="card-bd">
                        <a href="/story/{{ story.id }}">
                            <span class="title">{{ story.title }}</span>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
<div id="footer">
	<ul>
		<li>© 2015 知乎 · Powered by BING
		<li>客官赏颗星星吧 (*^__^*) <a href="https://github.com/Artwalk/GO-ZhihuDaily">Github</a></li>
	</ul>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery-2.1.4.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/masonry.pkgd.min.js"></script>
<!--Django官方提供解决ajax post 403的问题-->
<script src="/static/js/ajax_post.js"></script>

<script>
    var myDate = new Date()

    $('.grid').masonry({
        // options
        itemSelector: '.grid-item',
        columnWidth: 300
    });
    function dateToStr(date){
        var str = date.split("/");
        if(str[1] < 10){
            str[1] = '0'+str[1]
        }
        if(str[2] < 10){
            str[2] = '0'+str[2]
        }
        return str[0]+str[1]+str[2]

    }
    // 初始化 sentIt
    var sentIt = true;
    // 给浏览器窗口绑定 scroll 事件
    $(window).bind("scroll",function() {
        // 判断窗口的滚动条是否接近页面底部，加入 sentIt 判断，当触发一次 Ajax 分页时把 sentIt 设为 false，禁止触发多余的 Ajax 请求
        if ($(document).scrollTop() + $(window).height() > $(document).height() - 30 && sentIt) {
            //设置日期
            myDate.setDate(myDate.getDate() - 1)
            var dateStr = dateToStr(myDate.toLocaleDateString())
            // 显示正在加载模块
            $("#page_loading").show("slow");
            // Ajax 翻页
            $.ajax({
                url: "/story/before/" + dateStr,
                type: "GET",
                beforeSend: function () {
                    sentIt = false;
                }, // 触发了一次 Ajax 分页时把 sentIt 设为 false
                success: function (data) {
                    var $items = $(data)
                    $(".grid").append($items).masonry( 'appended', $items );
                },
                complete: function () {
                    setTimeout(sentIt = true, 600);
                } // 完成 Ajax 请求后重新设 sentIt 为 true
            });
        }
    });
</script>
</body>
</html>